@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  font-family: 'Sriracha', cursive;
  /* border: 2px solid black; */
}

#logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 46%;
  /* border: 2px solid white; */
  /* border-radius: 50px; */
  margin-top: 15px;
}

.navlist {
  /* background-color: black; */
  width: 70%;
  display: flex;
  align-items: center;
  height: 45px;
}

.navlist .list-items {
  display: flex;

}

.list-items {
  margin-left: 2rem;
}

.navlist li {
  list-style: none;
  padding: 12px 39px;
}

.navlist li a {
  text-decoration: none;
  color: black;
  /* border: 2px solid black; */
  border-radius: 22px;
  padding: 9px 14px;
  font-family: 'Sriracha', cursive;
  font-size: 15px;
}

.navlist li a:hover {
  color: white;
  background-color: black;
}

.rightnav {
  /* background-color: blueviolet; */
  /* background-color: black; */
  width: 30%;
  text-align: right;
}

#search {
  padding: 6px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 15px;
}

.background {
  /* background:  url('../Images/img-3.jpg');
  width: 50%; */
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.firstSection {
  height: 100vh;
}

.main-box {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  margin: auto;
  height: 100%;
  padding-top: 0;
  /* border: 2px solid white; */
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  margin-top: 2rem;}
#hero{
  margin-top: -50px;
}
#images {
  display: flex;
  justify-content: space-between;
}

img {
  width: 90%;
  height: 90%;
}

.sechalf {
  width: 30%;
}

.sechalf img {
  width: 140%;
  border: 1px solid white;
  border-radius: 75px;
  display: block;
  margin: auto;
  /* border: 2px solid black; */
}

.text-big {
  font-size: 40px;
  margin: 35px 0 35px 0;
  font-family: 'Lexend Mega', sans-serif;
  width: 40%;
}

.text-small {
  font-size: 30px;
  font-family: 'Sriracha', cursive;
}

.btn {
  padding: 8px 20px;
  margin: 20px 0px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.bt2 {
  margin: 0 22px;
}

.btn-small {
  margin: 12px 12px;
  vertical-align: middle;
  padding: 6px 10px;
}

.section {
  height: 600px;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  max-width: 100%;
  margin: auto;
}

.left {
  flex-direction: row-reverse;
}

.paras {
  padding: 12px 62px;
}

.thumbnail img {
  width: 85%;
  border-radius: 12px;
  border: 2px solid black;
}

.contact {
  color: white;
  height: 800px;
  /* background-color: black; */
}

.contact h2 {
  text-align: center;
  padding: 22px;
  font-size: 45px;
}

.form {
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.form-input {
  margin: 20px 0;
  padding: 5px 3px;
  width: 100%;
  font-size: 20px;
  border-radius: 6px;
}

#submit-btn {
  /* position: absolute; */
  left: 47%;
  background-color: black;
  color: wheat;
  font-size: 15px;
  width: 10%;
  /* background: none; */
}

#submit-btn:hover {

  background-color: wheat;
  color: black;
  /* background: none; */
}

footer {
  height: 20px;
  padding: 10px 0 30px 0;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.burger {
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  display: none;
}

.line {
  width: 33px;
  background-color: white;
  height: 3px;
  margin: 3px 3px;

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.embedly-card {
  margin: 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  height: 500px;
}

#section {
  background-color: #B8D4D5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

#product-description {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin-left: 7rem;
  width: 40%;
}
#product-description>h2{
  font-weight: bolder;
  padding-bottom: -10px;
}
#bricks,
#blocks {
  display: flex;
  width: 15rem;
}

.card-body {
  background-color: #95BBC6ff;

}

.card-title,
.card-text {
  color: white;
}

#bricks-image,
#blocks-image {
  height: 100%;
  width: 100%;
}

#container {
  margin-top: 7rem;
}

#reality {
  background-color: #B8D4D5ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#reality>h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#reality>img {
  width: 20%;
  height: 30%;
}

.product-underline{
  margin: -10px 0 0 100px;
  height: 5px;
  width: 200px;
  background-color: #95BBC6ff;
}

.reality-underline{
  margin: -8.4rem 0 0 3rem;
  height: 5px;
  width: 150px;
  background-color: #95BBC6ff;
}